{% extends 'temp.html' %}
{% load static %}
{% block title %}Questions{% endblock title %}
{% block forpp %}text-white{% endblock forpp %}
{% block headcss %}

{% endblock headcss %}
{% block body %}
<h1 class="text-center text-4xl my-4  font-bold"> Our teams</h1>
<div class="sm:flex sm:justify-center mx-1 my-10">
   <div class="max-w-sm sm:mx-2 rounded justify-center mx-auto overflow-hidden shadow-lg">
      <img class="w-5/6 mx-auto" src="https://kunjgit.github.io/kunj/kunjprofile.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Kunj Patel</div>
      <p class="text-gray-700 text-base">
         Proficient in a wide range of front-end technologies, including HTML, CSS, and JavaScript along with UI frameworks, such as Bootstrap, Material-UI and Tailwind CSS.
      </p>
      </div>
      <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Developer</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Programmer</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#C++</span>
      </div>
   </div>
   <div class="max-w-sm sm:mx-2 rounded mx-auto overflow-hidden shadow-lg">
      <img class="w-5/6 mx-auto" src="{% static 'kailash.jpg' %}" alt="Sunset in the mountains">
      <div class="px-6 py-4">
         <div class="font-bold text-xl mb-2">Kailash Rajput</div>
         <p class="text-gray-700 text-base">
            hey ,My name is Kailash and i'm web developer and competitive programmer. I know many language like php, c++,c , html, css, javascript etc. I join every contest in codechef , hackerrank, codeforces etc. I had created e-commerce website using php, mysql and javascript as project .now i am studying at Dharmsinh Desai University in Computer engineering.
         </p>
      </div>
      <div class="px-6 pt-4 pb-2">
         <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Devloper</span>
         <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Student</span>
         <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#C++</span>
      </div>
   </div>
   </div>
</div>
 {% endblock body %}
{% block scriptpart %}{% endblock scriptpart %}